
* {font-family:sans-serif;}

body 
{
	font-size: 11px;
	font-family: Sans-Serif;
	margin: 0px;
	padding-left: 8%;
	padding-right: 8%;
/* 	clear: both; */
	position: absolute;
	/*background: url('images/bgline2.jpg') repeat-x;*/
 	background-color: #000;
}

.top {
background-image:url(images/top2.gif);
background-repeat:no-repeat;
width:175px;
height:16px;
padding: 0px;

}

.bottom {
background-image:url(images/bottom2.gif);
background-repeat:no-repeat;
width:175px;
height:16px;
padding: 0px;
}

.container {
height:400px;
width:175px;
padding: 0;
padding-top:15px;
}

.lactive {
z-index:1;
background:#000000;
color:#ffd272;
width:174px;
height:30px;
font: 88% Verdana,Arial,sans-serif;
text-align:center;
vertical-align:middle;
padding:0px;
padding-top:8px;

}

.linactive {
z-index:1;
background-image:url(images/middle.gif);
background-repeat:no-repeat;
color:white;
width:174px;
height:30px;
font: 88% Verdana,Arial,sans-serif;
text-align:center;
vertical-align:middle;
padding:0;
padding-top:8px;
}

.l_over {
z-index:1;
color:#ffd272;
background:#000000;
width:174px;
height:30px;
font: 88% Verdana,Arial,sans-serif;
text-align:center;
vertical-align:middle;
padding:0px;
padding-top:8px;
}


.workspace {
z-index:1;
width:825px;
height:100%;
padding:0;
vertical-align:top;
font: 88% Verdana,Arial,sans-serif;
text-align:center;
vertical-align:top;
}

#menutd { 
  padding-left:15px;
}

/*div.hdr {
 background-image: url(images/thdr.gif);
   border-style: solid ;
   border-width: 0px;
   margin: 0px;
   border-color: #000000;
   color: white;
   background-color: #000000;
   -moz-border-radius: 0px 0px 8px 8px;
   padding: 0px;
   padding-top:3px;
   padding-bottom:3px;
}*/

div.hdr {
/*  background-image: url(images/thdr.gif); */
   border-style: solid ;
   border-width: 0px;
   margin: 0px;
   border-color: #606060;
   color: white;
   background-color: #606060;
   padding: 2px;
   font-size: 13px;
   color: #EAC95C; 
}

table.bdr {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	margin: 0px;
	border-style: none solid solid solid;
	border-color: #c2c2c2;
	border-collapse: separate;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
}
table.bdr tr {
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	border-width: 0px;
	border:0px;
	border-style: none;
}

table.bdr th {
	border-width: 0px 0px 1px 1px;
	padding: 0px 1px 1px 1px;
	margin: 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.bdr td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	border: 0px;
	border-style: none none none none;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	-moz-border-radius: 0px 0px 0px 0px;
}


table.bdr2 {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	margin: 0px;
	border-style: none solid solid solid;
	border-color: #c2c2c2;
	border-collapse: separate;
	background-color: #FFFFFF;
}
table.bdr2 tr {
	background-color: #FFFFFF;
	border-width: 0px;
	border:0px;
	border-style: none;
}

table.bdr2 th {
	border-width: 0px 0px 1px 1px;
	padding: 0px 1px 1px 1px;
	margin: 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.bdr2 td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	border: 0px;
	border-style: none none none none;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 0px;
}


#sidebar2 {background-color: #fff; width: 150px; margin: 0 0; }
#sidebar2 a {font-size: 14px; }
#sidebar2 .box {border: 0; margin: 0 0 1px 0; padding: 0 0 23px 0; background: transparent url(small_box/sideboxfooterd_black.gif) no-repeat bottom center; display: block;}
#sidebar2 .box h5 {background: transparent url(small_box/sideboxheader_black.gif) no-repeat top center; border: 0; margin: 0; padding: 4px 26px 5px 26px; color: #555; }
#sidebar2 .box .subhead {background: transparent  url(small_box/sideboxsubheader_black.gif) no-repeat top center; border: 0; margin: 0; height: 11px; line-height: 1px; font-size: 1px; }
#sidebar2 .box .inside {float:top;background: transparent url(small_box/sideboxbody_black.gif) repeat-y top center; padding: 0px 23px; margin: 0; position: static;}
#sidebar2 .box p.line {border-bottom: 1px solid #a1a5a9; padding-bottom: 1em;}
#sidebar2 .box  p.last {border-bottom: 0; padding-bottom: 0;}

 ul
{
padding: 0;
margin: 10;
align:left;
}

 li
{
padding-left: .6em;
}

.cell_inactive_tab
{
color:#000000;
background: url(images/inactive_tab_cell.png) no-repeat;
text-align:center;
margin: 0;
height: 28px;
width: 85px;
padding-top:10px;
}

.cell_active_tab
{
color:#ffd272;
background: url(images/active_tab_cell.png) no-repeat;
margin: 0px;
height: 28px;
width: 85px;
padding-top:10px;
}

.obsv_inactive_tab
{
color:#000000;
background: url(images/inactive_tab_obsv.png) no-repeat;
padding: 0px; 
margin: 0px;
height: 28px;
width: 85px;
}

.obsv_active_tab
{
color:#ffd272;
background: url(images/active_tab_obsv.png) no-repeat;
padding: 0px; 
margin: 0px;
height: 28px;
width: 85px;
}
.src_inactive_tab
{ 
color:#000000;
background: url(images/inactive_tab_source.png) no-repeat;
padding: 0px; 
margin: 0px;
height: 28px;
width: 85px;
}

.src_active_tab
{
color:#ffd272;
background: url(images/active_tab_source.png) no-repeat;
padding: 0px; 
margin: 0px;
height: 28px;
width: 85px;
}

.cell_show
{
display:block;
}

.cell_hide{
display:none;
}


.active_gas
{
display:inline;
width:100%;
height:125px;
position:relative;
align:center;
}

.inactive_gas
{
display:none;
width:0px;
height:0px;
position:relative;
align:center;
}
a.fbLnk:link {
  font-size: 11px;
  color: #145875; 
  text-decoration: none; 
}
a.fbLnk:visited {
  font-size: 11px;
  color: #145875; 
  text-decoration: none; 
}
a.fbLnk:hover { 
  font-size: 11px;
  color: #145875; 
  text-decoration: underline; 
}
a.fbLnk:active {
  font-size: 11px;
  color: #145875; 
  text-decoration: none; 
}

.info_divs a:link {
  color: #000000; 
  text-decoration: none; 
}
.info_divs a:visited {
  color: #000000; 
  text-decoration: none; 
}
.info_divs a:hover { 
  color: #000000; 
  text-decoration: none;
}
.info_divs a:active {
  color: #000000; 
  text-decoration: none;
}

.pb1
{
position:relative; 
display: none;
background-color:white;
width:250px; 
height:15px;
}
.pb1a
{
position:relative; 
display: block;
background-color:white;
width:250px; 
height:15px;
}

.pb2
{
position:relative; 
display: none;
width:248px; 
height:13px;
background-color:#000000;
font-size:1px;
}
.pb2a
{
position:relative; 
display: block;
width:248px; 
height:13px;
background-color:#000000;
font-size:1px;
}

.pb3
{
position:relative; 
display: none;
width:248px; 
height:13px;
background: url(images/gold_bar.gif);
font-size:1px;
}
.pb3a
{
position:relative; 
display: block;
width:248px; 
height:13px;
background: url(images/gold_bar.gif);
font-size:1px;
}

.inactive_inten
{
color:#000000;
background: url(images/inactive_inten.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}

.active_inten
{
color:#000000;
background: url(images/active_inten.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}
.inactive_pos
{
color:#000000;
background: url(images/inactive_pos.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}

.active_pos
{
color:#000000;
background: url(images/active_pos.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}
.inactive_stats
{
color:#000000;
background: url(images/inactive_stats.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}

.active_stats
{
color:#000000;
background: url(images/active_stats.png) no-repeat;
padding: 0px; 
margin: 0;
height: 28px;
width: 85px;
}

table.tabs_table {
	margin: 0px;	
	padding: 0px;
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	background-color: white;
}
table.tabs_table tr{
	border-width: 0px;
	border-style: none;
}
table.tabs_table th {
	border-width: 0px 0px 0px 0px;
	padding: 0px;
	margin: 0px;
	border-style: none none none none;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.tabs_table td {
	border-width: 0px 0px 0px 0px;
	padding: 0px;
	margin: 0px;
	border-style: none none none none;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

.boxeninner {
	margin:0px;
	padding:0px;
	width:179px;
	font-size: 12px;	
	
}

.boxencontent {
	padding:4px 4px;
	color:#5A5A5A;
	font-size: 12px;	
}

/* LOGIN BOX */
.tbox{
	padding:2px;
	border: #e1e1e1 1px solid;
	color: #000;
	font-size: 12px;
}




.username{
	width: 100px;
}

.password{
	width: 100px;
}


.logout_out{
   text-decoration:none;
   color:#ffffff;
   font-size:11px;

}

.logout_outOR{
    color:#555555;
    text-decoration:none;
    font-size:12px;

}


.logout_out2{
    color:#ffffff;
    text-decoration:none;
    font-size:11px;
    font-family: sans-serif;

}

.logout_over2 {
    color:#EAC95C;
    text-decoration:underline;
    font-size:11px;
    font-family: sans-serif;
}

.logout_over{
    text-decoration:underline;
    color:#EAC95C;
    font-size:11px;
}


.link_class{
    color:blue;
    text-decoration:none;
    font-size:12px;

}

.link_class_over{
    color:blue;
    text-decoration:underline;
    font-size:12px;
}

.activate{
    color:#0000ff;
    text-decoration:none;

}

.activate_over{
    color:#0000ff;
    text-decoration:underline;

}
.curr_box{
width:250px;
height:100px;
}
.new_box{
width:250px;
height:500px;
}


.link_out{
    color:#555555;
    text-decoration:bold;
    font-size:13px;
}

.link_over{
    color:red;
    text-decoration:underline;
    font-size:13px;
}

.link_out2{
    color:#555555;
    text-decoration:underline;
    font-size:12px;

}

.link_over2{
    color:blue;
    text-decoration:underline;
    font-size:12px;
}


.ul_txt{
  text-decoration:underline;
}
.nul_txt{
 text-decoration:none;
}


a.menu_style:link {
  color: #ffffff; 
  text-decoration: none; 
}
a.menu_style:visited {
  color: #ffffff; 
  text-decoration: none; 
}
a.menu_style:hover { 
  color: #ffd272; 
  text-decoration: underline;
}
a.menu_style:active {
  color: #ffffff; 
  text-decoration: none;
}

.menu_clr {
  color: #ffd272; 
 text-decoration: none; 
}

.lgn_box{
width:150px;
height:105px;
border-color:#979797;
border: 1px solid;
color:#979797;
text-align:left;
vertical-align:top;
padding:6px;
}

.lgnbox2
{
border-color:#979797;
border: 1px;
border-style: solid;
color:#000000;
width:310px;
align:center;
}


table.sptra {
   border-width: 0px;
   border-spacing: 2px;
   padding: 2px;
   border-style: none;
   border-color: #d2d2d2;
   border-collapse: collapse;
   background-color: #f7f7f7;
}
table.sptra th {
   border-width: 0px;
   padding: 2px; 
   border-style: none;
   border-color: #FFFFFF;
   background-color: #f7f7f7;
}
table.sptra td {
   border-width: 0px;
   padding: 2px;
   border-style: none;
   border-color: #d2d2d2;
   background-color: #f7f7f7;
}

table.grp {
   border-width: 1px;
   border-spacing: 2px;
   padding: 2px;
   border-style: solid;
   border-color: #d2d2d2;
   border-collapse: collapse;
   background-color: white;
   color:#555555;
}
table.grp tr {
   border-width: 1px;
   padding: 2px; 
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
   color:#555555;
}
table.grp th {
   border-width: 1px;
   padding: 2px; 
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
   color:#555555;
}
table.grp td {
   border-width: 1px;
   padding: 2px;
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
   color:#555555;
}


table.waveLim {
   border-width: 1px;
   text-align: center;
   border-spacing: 2px;
   padding: 2px;
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
}
table.waveLim tr {
   border-width: 1px;
   padding: 2px; 
   text-align: center;
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
}
table.waveLim th {
   border-width: 1px;
   padding: 2px; 
   text-align: center;
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;

}
table.waveLim td {
   border-width: 1px;
   padding: 2px;
   text-align: center;
   border-style: solid;
   border-color: #d2d2d2;
   background-color: white;
}
table.bgClr2 {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	margin: 0px;
	border-style: none solid solid solid;
	border-color: #c2c2c2;
	border-collapse: separate;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
}
table.bgClr2 tr {
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	border-width: 0px;
	border:0px;
	border-style: none;
}
table.bgClr2 th {
	border-width: 0px 0px 1px 1px;
	padding: 0px 1px 1px 1px;
	margin: 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.bgClr2 td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	border: 0px;
	border-style: none none none none;
	/*background-color: #f7f7f7;*/
	background-color: #ffffff;
	-moz-border-radius: 0px 0px 0px 0px;
}

#b2 
{
/* 	width: 195px; */
	padding: 0 0 0 0;
/* 	margin-bottom: 1em; */
	font-size: 11px;
	font-weight: normal;
	font-family: Sans-serif;
	/*color: #333;*/
}

#b2 ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#b2 li 
{
	border-bottom: 1px solid ;
	margin: 0;
	width: auto;
}

#b2 li a 
{
	display: block;
	padding: 2px 0px 1px 0.5em;
 	border-left: 2px solid; 
 	border-right: 5px solid; 
 	color: #fff; 
	text-decoration: none;
	width: auto;
	background-color:#555;
}

#b2 li a:hover 
{
	border-left: 5px solid;
	border-right: 5px solid; 
	color: #000;
	background-color: #999;
	font-weight:bold;
}

a.impN:link {
 color:red;
}
a.impN:visited{
 color:red;
}
a.impN:hover{
 color:red;
 text-decoration:underline;
}
a.impN:active{
 color:red;
}

a.mm:link {
font-size: 13px;
  color: #ffffff; 
  text-decoration: none; 
}
a.mm:visited {
font-size: 13px;
  color: #ffffff; 
  text-decoration: none; 
}
a.mm:hover { 
font-size: 13px;
  color: #EAC95C; 
  text-decoration: underline;
}
a.mm:active {
font-size: 13px;
  color: #ffffff; 
  text-decoration: none;
}

a.mm_act:link {
font-size: 13px;
  color: #EAC95C; 
  text-decoration: none; 
}
a.mm_act:visited {
font-size: 13px;
  color: #EAC95C; 
  text-decoration: none; 
}
a.mm_act:hover { 
font-size: 13px;
  color: #EAC95C; 
  text-decoration: underline;
}
a.mm_act:active {
font-size: 13px;
  color: #EAC95C; 
  text-decoration: none;
}
#smenu
{
    position: relative;
    width: 215px;
    height: 150px;
    background: #555;
    float: right;
}



a.sm2:link {
 /*   padding: 2px 3px 3px 0.5em; */
    color:#ffffff;
    text-decoration:none;
    font-size:13px;
    font-family: sans-serif;
}
a.sm2:visited {
 /*   padding: 2px 3px 3px 0.5em; */
    color: #ffffff; 
    text-decoration:none;
    font-size:13px;
    font-family: sans-serif;
}
a.sm2:hover { 
/*    padding: 2px 3px 3px 0.5em; */
    color:#EAC95C;
    text-decoration:underline;
    font-size:13px;
    font-family: sans-serif;
}
a.sm2:active {
  /*  padding: 2px 3px 3px 0.5em; */
    color:#ffffff;
    text-decoration:none;
    font-size:13px;
    font-family: sans-serif;
}

.smenu2
{
    position: relative;
    width: 125px;
    height: 170px;
    border:0px;
    background: #555;
}

.smenu3
{
    width: 215px;
    height: 142x;
    background: #555;  
    color:#fff;
}
#ymenu 
{
    position: relative;
    background: #000000;
    float: left;
    vertical-align:bottom;
    color:#ffffff;
    font-size:11px;
}
.ymenu2 
{
    /*background: black;*/
    color:#ffffff;
    font-size:11px;
    /*width: 225px;	*/
    /*height: 150px;*/
}
#main 
{
	width: 420px;
	text-align: justify;
	color: #333;
	background-color: purple;
	/*border: 1px solid #888;*/
}

OPTION.sys{background-color:white; color:black}
OPTION.useradd{background-color:white; color:#515151}


table.newMenu {
	padding-left:6px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}


table.newMenu td {
	border-width: 0px 0px 0px 0px;
	padding: 4px 0px 1px 0px;
	border:0px;
}


.about {
background-image:url(images/about1.png);
background-repeat:no-repeat;
width:350px;
height:23px;
padding: 0px;
vertical-align:middle; 
}
.about2 {
background-image:url(images/about2.png);
background-repeat:no-repeat;
width:350px;
height:23px;
padding: 0px;

}

table.abtTbl {
	border-width: 0px;
	border-spacing: 0px;
	margin: 0px;
 	border-color: #c2c2c2; 
	background-color: #ffffff;
}
table.abtTbl tr {
	background-color: #ffffff;
	border-width: 0px;
	border:0px;
	border-style: none;
}

table.abtTbl th {
	border-color: #c2c2c2; 
	border-width: 0px 0px 0px 0px;
	padding: 0px;
	margin: 0px;
	border-style: none solid solid solid;

}
table.abtTbl td {
	border-width: 0px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	margin: 0px; 	
	border-color: #c2c2c2; 
	border-style: none solid solid solid;
}

.setting_out {
 text-decoration:none;
}
.setting_over {
 text-decoration: underline;
}



a.homeLnk:link {
  font-size: 13px;
  color: #000000; 
  text-decoration: none; 
}
a.homeLnk:visited {
  font-size: 13px;
  color: #000000; 
  text-decoration: none; 
}
a.homeLnk:hover { 
  font-size: 13px;
  color: #00B6FF; 
  text-decoration: underline;
}
a.homeLnk:active {
  font-size: 13px;
  color: #000000; 
  text-decoration: none;
}

.tableClass {
 border-collapse:collapse;
}
.tableClass tr.r0 td {
	background-color: #CCCCCC; color: black;
	border-collapse:collapse;
}
.tableClass tr.r1 td {
	background-color: #ffffff; color: black;
}