* {font-family:sans-serif;
   font-size: 12px;
}
.tip {
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:270px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:20px; 
  left:90px; 
  background-color:#ffffcc; 
  layer-background-color:#ffffcc;
}

.tip1 {
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:270px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:-20px; 
  left:90px; 
  background-color:#ffffcc; 
  layer-background-color:#ffffcc;
}
.tip2 {
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:300px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:20px; 
  left:90px; 
  background-color:#ffffcc; 
  layer-background-color:#ffffcc;
}

.tip3 {
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:230px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:20px; 
  left:90px; 
  background-color:#ffffcc; 
  layer-background-color:#ffffcc;
}
.tip4 {
  font:Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:550px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  top:20px; 
  left:90px; 
  background-color:#0c4293; 
  layer-background-color:#0c4293;
}
.tip5 {
  line-height: 150%
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:360px; 
  padding:5px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:20px; 
  left:90px; 
  background-color:#ffffcc; 
  layer-background-color:#ffffcc;
}

.cancelTip {
  font:Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:350px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  top:20px; 
  left:90px; 
  background-color:#cccccc; 
  layer-background-color:#cccccc;
}

.mOver {
  font:13px/13px Arial,Helvetica,sans-serif; 
  border:solid 1px #666666; 
  width:125px; 
  padding:1px; 
  position:absolute; 
  z-index:1; 
  visibility:hidden; 
  color:#333333; 
  top:20px; 
  left:90px; 
  background-color:#ffffff; 
  layer-background-color:#ffffff;
}

a {cursor: pointer;}
